@font-face {
  font-family: "Gilroy";
  src: url("src/Gilroy_Light.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("src/Gilroy_ExtraBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "DIN Pro Regular";
  src: url("src/DINPro.eot");
  src: url("src/DINPro.eot?#iefix") format("embedded-opentype"), url("src/DINPro.woff") format("woff"), url("src/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "DIN Pro Regular", sans-serif;
}

.hide {
  display: none !important;
}

.Title {
  margin: 130px 0 0;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: normal;
  z-index: 2;
}

.slider {
  display: flex;
  overflow-x: auto;
  height: 768px;
  background-image: url("src/back.png");
  background-attachment: local;
  touch-action: none;
  background-origin: border-box;
}

.slide {
  padding: 0 70px;
  position: relative;
  width: 1024px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 884px;
}

.main_head {
  position: fixed;
  height: 26px;
  margin-left: 70px;
  margin-top: 26px;
  display: flex;
  z-index: 5;
}
.main_head .icon {
  border-right: thin solid #171717;
}
.main_head .icon .icon_home {
  margin-right: 20px;
  height: 26px;
}
.main_head .project_name {
  margin-left: 20px;
}
.main_head .project_name > span {
  text-transform: uppercase;
  font-size: 23px;
}

.slide1 {
  display: flex;
  flex-direction: column;
  overflow-y: clip;
  background-image: url("src/images/Layer 7.png"), url("src/images/Layer 4 copy 2.png"), url("src/images/pink_sperm.png"), url("src/images/Layer 4 copy.png");
  background-position: -89px 72px, 917px 30px, -134px 593px, 347px 631px;
  background-repeat: no-repeat;
  animation: bact 5s linear infinite alternate;
}
.slide1 .sperm1:before {
  content: "";
  background-image: url("src/images/pink_sperm_1.png");
  position: absolute;
  width: 592px;
  height: 93px;
  left: 425px;
  top: 170px;
  z-index: 1;
}
.slide1 .bact1:before {
  content: "";
  background-image: url("src/images/Layer 8.png");
  height: 114px;
  width: 111px;
  position: absolute;
  z-index: 1;
  animation: bact1 10s linear infinite;
}
@keyframes bact1 {
  0% {
    left: 861px;
    top: 200px;
    transform: rotate(0deg);
  }
  25% {
    left: 985px;
    top: 266px;
    transform: rotate(16deg);
  }
  50% {
    left: 853px;
    top: 320px;
    transform: rotate(235deg);
  }
  75% {
    left: 989px;
    top: 211px;
    transform: rotate(427deg);
  }
  100% {
    left: 861px;
    top: 200px;
    transform: rotate(360deg);
  }
}
.slide1 .bact2:before {
  content: "";
  background-image: url("src/images/bakti_1.png");
  position: absolute;
  width: 74px;
  height: 72px;
  animation: bact2 2s ease-in-out infinite alternate;
}
@keyframes bact2 {
  from {
    left: 22px;
    top: 503px;
  }
  to {
    left: 30px;
    top: 540px;
  }
}
.slide1 .bact3:before {
  content: "";
  background-image: url("src/images/Layer 5.png");
  position: absolute;
  width: 63px;
  height: 58px;
  animation: bact3 3s linear infinite alternate;
}
@keyframes bact3 {
  from {
    left: 744px;
    top: 61px;
    transform: scale(1);
  }
  to {
    left: 760px;
    top: 80px;
    transform: scale(1.1);
  }
}
.slide1 .bact4:before {
  content: "";
  background-image: url("src/images/Layer 4.png");
  position: absolute;
  width: 228px;
  height: 225px;
  animation: bact4 4s linear infinite alternate;
}
@keyframes bact4 {
  from {
    left: 542px;
    top: 641px;
    transform: scale(1);
  }
  to {
    left: 500px;
    top: 610px;
    transform: scale(1.4);
  }
}
.slide1 .text {
  font-family: "Gilroy", sans-serif;
  text-transform: uppercase;
  font-size: 109px;
}
.slide1 .text_with_btn {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  height: 81px;
  border: none;
  background-color: #ff6a9f;
  border-radius: 40px;
  box-shadow: inset 5px 15px 30px rgba(255, 255, 255, 0.8), 5px 15px 20px rgba(103, 161, 187, 0.17);
}
.btn .btn_icon {
  width: 50px;
  height: 50px;
  margin: 16px;
  background-color: #171717;
  border-radius: 50%;
  box-shadow: -3px -3px 6px rgba(43, 75, 89, 0.38), 3px 3px 6px rgba(255, 255, 255, 0.55);
}
.btn .btn_icon .btn_icon__icon {
  margin: 17px auto;
}
.btn .btn_icon .btn_icon__icon > image {
  box-shadow: 6px 0 16px rgba(255, 255, 255, 0.16);
}
.btn .btn_text {
  margin-right: 35px;
  color: #171717;
}
.btn .btn_text > span {
  font-family: "DIN Pro Regular", sans-serif;
  font-size: 27px;
}

.slide2 {
  display: flex;
  flex-direction: column;
}
.slide2 .sperm1:before {
  content: "";
  position: absolute;
  width: 1024px;
  height: 768px;
  opacity: 0;
  background-image: url("src/images/Layer 3 copy 6.png");
  animation: slide2 1.5s ease-in 0.2s 1 normal forwards;
}
.slide2 .sperm2:before {
  content: "";
  position: absolute;
  width: 1024px;
  height: 768px;
  opacity: 0;
  background-image: url("src/images/Layer 3 copy 2.png");
  animation: slide2 1.5s ease-in 1s 1 normal forwards;
}
.slide2 .sperm3:before {
  content: "";
  position: absolute;
  width: 1024px;
  height: 768px;
  opacity: 0;
  background-image: url("src/images/Layer 3 copy 4.png");
  animation: slide2 1.5s ease-in 0.7s 1 normal forwards;
}
.slide2 .sperm4:before {
  content: "";
  position: absolute;
  width: 1024px;
  height: 768px;
  opacity: 0;
  background-image: url("src/images/Layer 3 copy 3.png");
  animation: slide2 1.5s ease-in 1.2s 1 normal forwards;
}
.slide2 .sperm5:before {
  content: "";
  position: absolute;
  width: 1024px;
  height: 768px;
  opacity: 0;
  background-image: url("src/images/Layer 3 copy 5.png");
  animation: slide2 1.5s ease-in 0.9s 1 normal forwards;
}
@keyframes slide2 {
  from {
    background-position: 100px 100px;
    opacity: 0;
  }
  to {
    background-position: -70px 0;
    opacity: 1;
  }
}
.slide2 .viewport {
  display: flex;
  flex-direction: row;
  height: 445px;
}
.slide2 .scrollbar, .slide2 .scroller {
  height: 445px;
  width: 20px;
  position: absolute;
  top: 46px;
}
.slide2 .scrollbar {
  left: 0;
  bottom: 0;
  background-color: black;
  width: 5px;
  border-radius: 2.5px;
}
.slide2 .scroller {
  top: 0;
  background-color: #cf578d;
  border-radius: 7.65px;
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.8), 5px 5px 5px rgba(43, 75, 89, 0.38);
  left: -7.5px;
}
.slide2 .customTextBox {
  width: 775px;
  height: 445px;
  margin-top: 46px;
  margin-left: 56px;
  background-color: white;
  box-shadow: 5px 0 125px rgba(157, 185, 198, 0.39);
  border-radius: 40px;
  hyphens: auto;
  border: 20px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  font-family: "DIN Pro Regular", sans-serif;
  font-size: 22px;
  overflow-y: scroll;
  direction: rtl;
}
.slide2 .customTextBox p {
  direction: ltr;
  margin: 0;
  padding: 30px;
  line-height: 25px;
}

.slide3 {
  display: flex;
  flex-direction: column;
  overflow-y: clip;
}
.slide3 .bottle:before {
  content: "";
  background-image: url("src/images/bottle.png");
  left: -50px;
  width: 1024px;
  height: 768px;
  position: absolute;
  z-index: 2;
}
.slide3 .bubble_red:before {
  content: "";
  background-image: url("src/images/bubble_red.png");
  width: 34px;
  height: 35px;
  position: absolute;
  z-index: 1;
  animation: bubble_red 7s ease-in-out infinite alternate;
}
@keyframes bubble_red {
  0% {
    left: 220px;
    top: 440px;
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    left: 20px;
    top: 330px;
    opacity: 0.7;
    transform: scale(1.5);
  }
  100% {
    left: 190px;
    top: 220px;
    opacity: 1;
    transform: scale(1.2);
  }
}
.slide3 .bubble_pink1:before {
  content: "";
  background-image: url("src/images/bubble_pink1.png");
  width: 113px;
  height: 112px;
  position: absolute;
  left: 130px;
  top: 320px;
  z-index: 1;
  animation: bubble_pink1 2s linear infinite alternate;
}
@keyframes bubble_pink1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}
.slide3 .bubble_blue3:before {
  content: "";
  background-image: url("src/images/bubble_blue3.png");
  width: 37px;
  height: 39px;
  position: absolute;
  z-index: 2;
  animation: bubble_blue3 2s linear infinite alternate;
}
@keyframes bubble_blue3 {
  from {
    left: 130px;
    top: 80px;
  }
  to {
    left: 170px;
    top: 130px;
  }
}
.slide3 .bubble_blue4:before {
  content: "";
  background-image: url("src/images/bubble_blue4.png");
  width: 62px;
  height: 62px;
  left: 200px;
  position: absolute;
  z-index: 1;
  animation: bubble_blue4 4s linear infinite alternate;
}
@keyframes bubble_blue4 {
  from {
    top: 600px;
    transform: scale(1);
  }
  to {
    top: 620px;
    transform: scale(0.7);
  }
}
.slide3 .bubble_blue5:before {
  content: "";
  background-image: url("src/images/bubble_blue5.png");
  width: 68px;
  height: 70px;
  position: absolute;
  z-index: 2;
  animation: bubble_blue5 5s ease-in-out infinite alternate;
}
@keyframes bubble_blue5 {
  0% {
    left: 170px;
    top: 190px;
    transform: scale(1);
  }
  50% {
    left: 120px;
    top: 170px;
    transform: scale(1.1);
  }
  100% {
    left: 170px;
    top: 120px;
    transform: scale(0.6);
  }
}
.slide3 .bubble_blue6:before {
  content: "";
  background-image: url("src/images/bubble_blue6.png");
  width: 143px;
  height: 143px;
  position: absolute;
  z-index: 2;
  animation: bubble_blue6 5s ease-in-out infinite alternate;
}
@keyframes bubble_blue6 {
  from {
    left: 150px;
    top: 680px;
    transform: scale(1);
  }
  to {
    left: 160px;
    top: 740px;
    transform: scale(0.6);
  }
}
.slide3 .bubble_pink8:before {
  content: "";
  background-image: url("src/images/bubble_pink8.png");
  width: 75px;
  height: 75px;
  position: absolute;
  z-index: 2;
  animation: bubble_pink8 3s linear infinite alternate;
}
@keyframes bubble_pink8 {
  0% {
    left: 30px;
    top: 450px;
    transform: scale(0.6);
  }
  50% {
    left: 30px;
    top: 500px;
    transform: scale(0.6);
  }
  100% {
    left: 60px;
    top: 450px;
    transform: scale(1);
  }
}
.slide3 .container {
  align-items: center;
}
.slide3 .Title1 {
  margin-top: 50px;
  margin-left: 237px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: normal;
  align-self: flex-start;
}
.slide3 .subtitle {
  text-transform: uppercase;
  font-family: Gilroy, sans-serif;
  font-size: 95px;
}
.slide3 .subcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 86px;
}
.slide3 .subcontainer .column {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
}
.slide3 .content_box {
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 0 125px rgba(157, 185, 198, 0.4);
}
.slide3 .content_box .content_box_icon {
  margin-top: -90px;
}
.slide3 .content_box .content_box_text {
  font-family: "DIN Pro Regular", sans-serif;
  font-size: 25px;
  max-width: 235px;
  margin: 0;
  line-height: 25px;
}
.slide3 .box1 {
  padding: 65px 53px 32px 116px;
}
.slide3 .box2 {
  padding: 43px;
}
.slide3 .box2 .content_box_icon {
  margin-top: -70px;
}
.slide3 .btn {
  margin: 20px;
  margin-left: 0;
  z-index: 2;
}
.slide3 .container2 {
  background-color: white;
  border-radius: 40px;
}
.slide3 .container2 .container2_slider {
  max-width: 500px;
  margin-left: 100px;
}
.slide3 .container2 .container2_slider .slider_content {
  margin-bottom: 20px;
}
.slide3 .container2 .container2_slider .slider_content_item {
  display: flex;
  flex-direction: column;
}
.slide3 .container2 .container2_slider .slider_content_item .slider_content_item_title {
  font-family: Gilroy, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #8CC9E8;
}
.slide3 .container2 .container2_slider .slider_content_item .slider_content_item_text {
  font-family: "DIN Pro Regular", sans-serif;
  font-size: 25px;
  margin-top: 0;
}
.slide3 .container2 .container2_slider .slider_navigation {
  display: flex;
  margin-bottom: 30px;
}
.slide3 .container2 .container2_slider .slider_navigation .slider_navigation_arrow__left:before {
  content: "";
  background-image: url("src/images/btn_1.png");
  width: 10px;
  height: 15px;
  position: absolute;
  z-index: 3;
}
.slide3 .container2 .container2_slider .slider_navigation .slider_navigation_pointer {
  content: "";
  background-image: url("src/images/Ellipse 2.png");
  width: 10px;
  height: 11px;
  margin-left: 30px;
  z-index: 3;
}
.slide3 .container2 .container2_slider .slider_navigation .slider_navigation_pointer.active {
  background-image: url("src/images/Ellipse 2 copy 2.png");
}
.slide3 .container2 .container2_slider .slider_navigation .slider_navigation_arrow__right:before {
  content: "";
  background-image: url("src/images/btn_next.png");
  width: 10px;
  height: 15px;
  position: absolute;
  margin-left: 30px;
  z-index: 3;
}

.blur {
  background-color: rgba(22, 39, 62, 0.3);
}

.btn_close:before {
  content: "";
  position: absolute;
  background-image: url("src/images/btn_close.png");
  width: 34px;
  height: 35px;
  top: 33px;
  right: 37px;
  z-index: 3;
}

footer {
  position: fixed;
  margin-left: 70px;
  margin-top: -33px;
  z-index: 5;
}

/*# sourceMappingURL=styles.css.map */
